<footer class="bg-light mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>駿英企業社</h5>
                <p> TEL: 04-7624868 / 04-7639856<br />
                    FAX: 04-7623685<br />
                    地址：彰化市崙平南路139-3號<br />
                </p>
            </div>
            <div class="col-md-6">
                <h5>客服中心</h5>
                <ul class="list-unstyled">
                    <p class="mb-1">
                        如有疑問歡迎來信：
                        <a href="mailto:cy7624868@gmail.com">cy7624868@gmail.com</a>
                    </p>
                    <!-- <li><a href="https://lin.ee/GHf9pwl"></a></li> -->
                    <a href="https://lin.ee/oHbhDVn"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="36" border="0"></a>
                </ul>
            </div>
        </div>
    </div>
</footer>