<footer class="bg-light mt-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>關於我們</h5>
                <p>這是一個示範電商網站</p>
            </div>
            <div class="col-md-4">
                <h5>客服中心</h5>
                <ul class="list-unstyled">
                    <li><a href="#">常見問題</a></li>
                    <li><a href="#">聯絡我們</a></li>
                    <li><a href="#">退換貨政策</a><li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>追蹤我們</h5>
                <div class="d-flex">
                    <a href="https://lin.ee/GHf9pwl">Line</a>
                </div>
            </div>
        </div>
    </div>
</footer>