<!-- views/index.ejs -->
<%- include('layouts/_header') %> <!-- Include the common header -->

<div class="container mt-5">
    <h1 class="display-4 text-center">Welcome to <%= title %></h1>
    <p class="lead text-center">This is the index page.</p>
</div>

<%- include('layouts/_footer') %> <!-- Include the common footer -->
