.card-img-top {
  height: 200px;
  object-fit: scale-down;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

footer a {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  color: #333;
}

.cursor-pointer {
  cursor:pointer;
}

.product-image {
  max-height: 400px; /* 設定圖片最大高度 */
  width: auto;
  object-fit: contain;
}
