<body class="bg-light">
  <div class="container py-5 text-center">
    <div class="card p-5 shadow-sm">
      <h2 class="text-success mb-3">🎉 感謝您的訂購！</h2>
      <p class="fs-5">您的訂單已成功提交，我們會儘快為您處理。</p>

      <div class="my-4">
        <h5 class="fw-bold">訂單編號</h5>
        <p class="text-primary fs-4"><%= orderNumber %></p>

        <h5 class="fw-bold mt-4">付款方式</h5>
        <p><%= getPaymentMethodLabel(paymentMethod) %></p>

        <h5 class="fw-bold mt-4">訂單總金額</h5>
        <p class="fs-4">$<%= totalAmount.toLocaleString() %></p>
      </div>

      <% if (paymentMethod === 'bank_transfer') { %>
        <div class="alert alert-warning mt-4 text-start">
          <strong>請注意：</strong>我們會在確認收到您的付款後安排出貨。<br><br>
          <strong>轉帳資訊如下：</strong><br>
          <p>銀行名稱：台北富邦商業銀行<br>分行：中壢分行<br>帳號：12345678901234<br>戶名：駿英企業社</p>
          <br>
          完成轉帳後，請來信告知您的 <strong>帳號末五碼</strong> 及 <strong>訂單編號</strong>，以利我們對帳確認。
        </div>
      <% } else if (paymentMethod === 'remittance') { %>
        <div class="alert alert-warning mt-4 text-start">
          <strong>請注意：</strong>我們會在確認收到您的匯款後安排出貨。<br><br>
          <strong>郵局代碼：700</strong><br>
          <strong>帳號：00412345678901</strong><br>
          <strong>戶名：駿英企業社</strong><br>
          <br>
          完成匯款後，請來信告知您的 <strong>帳號末五碼</strong> 及 <strong>訂單編號</strong>，以利我們對帳確認。
        </div>
      <% } else if (paymentMethod === 'cod') { %>
        <div class="alert alert-success mt-4">
          商品將於出貨後 2–3 個工作天內送達。
        </div>
      <% } %>


      <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/" class="btn btn-outline-primary">返回首頁</a>
        <% if (user) { %>
          <a href="/orders/history" class="btn btn-primary">查看我的訂單</a>
        <% } %>
      </div>
    </div>
  </div>
</body>
